@model IEnumerable<MI.AriBilgi.DLL.Service>

@{
    ViewBag.Title = "ServicesAdminIndex";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}


<div style="margin:8px;">
    <section class="content" style="margin-top:8px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:#343a40; color:white;">
                        <h3 class="card-title">SERVİS LİSTESİ</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">

                        <table class="table table-hover" style="text-align:center;">
                            <tr >
                                <th style="border:1px solid #17a2b8;width:50%;">
                                    Servis Adı
                                </th>
                                <th style="border:1px solid #17a2b8;">
                                    İşlemler
                                </th>

                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceAdi)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "ServiceEdit", new { id = item.ServiceId }, new { @class = "btn btn-sm btn-outline-success fas fa-edit" }) |
                                        @Html.ActionLink("Delete", "ServiceDelete", new { id = item.ServiceId }, new { @class = "btn btn-sm btn-outline-danger fas fa-trash-alt" })
                                    </td>
                                </tr>
                            }

                        </table>

                        <p style="margin:8px;">
                            @Html.ActionLink("Servis Ekleme Sayfasına Git", "CreateService", "ServicesAdmin", new { @class = "btn btn-info float-right" })
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

